{% extends "dashboard.html" %}
{%- macro print_errors(errors) %}
	{%- if errors %}
		{%- for error in errors %}
		<span class="error">{{ error }}</span>
		{%- endfor %}
	{%- endif %}
{%- endmacro %}
{% block body_classes %}media media-edit{% endblock %}
{% block content %}
<form method="POST" action="{{ url_for('media.index', action='edit', media_id=data.media_id, save='true') }}" class="small small-wider">
	<ul class="noul">
		<li>
			<h2 class="title">Media plan
				<span class="sub-title">Edit media plan</span>
			</h2>
			<p class="message {{ data.status }}">{{ data.message|safe }}{{ print_errors(data.add_form.csrf_token.errors) }}</p>
			{{ data.add_form.csrf_token() }}
			{{ data.add_form.name.label() }}
			{{ data.add_form.name(placeholder="Name") }}
			{{ print_errors(data.add_form.name.errors) }}
		</li>
		<li>
			{{ data.add_form.description.label() }}
			{{ data.add_form.description(placeholder="Description") }}
			{{ print_errors(data.add_form.description.errors) }}
		</li>
		<li>
			{{ data.add_form.website.label() }}
			{{ data.add_form.website(placeholder="http://www.example.com") }}
			{{ print_errors(data.add_form.website.errors) }}
		</li>
		<li>
			{{ data.add_form.banner.label() }}
			{{ data.add_form.banner(placeholder="http://www.example.com/images/poster.jpg") }}
			{{ print_errors(data.add_form.banner.errors) }}
		</li>
		<li>
			{{ data.add_form.email.label() }}
			{{ data.add_form.email(placeholder="johndoe@example.com") }}
			{{ print_errors(data.add_form.email.errors) }}
		</li>
		<li>
			{{ data.add_form.contact_name.label() }}
			{{ data.add_form.contact_name(placeholder="John Doe") }}
			{{ print_errors(data.add_form.contact_name.errors) }}
		</li>
		<li>
			{{ data.add_form.contact_phone.label() }}
			{{ data.add_form.contact_phone(placeholder="1 23456 7890") }}
			{{ print_errors(data.add_form.contact_phone.errors) }}
		</li>
		<li>
			{{ data.add_form.price.label() }}
			{{ data.add_form.price() }}
			{{ print_errors(data.add_form.price.errors) }}
		</li>
		<li>
			{{ data.add_form.ad_name.label() }}
			{{ data.add_form.ad_name(placeholder="Full Size Ad - 1") }}
			{{ print_errors(data.add_form.ad_name.errors) }}
		</li>
		<li>
			{{ data.add_form.ad_details_url.label() }}
			{{ data.add_form.ad_details_url(placeholder="http://www.example.com/ad1") }}
			{{ print_errors(data.add_form.ad_details_url.errors) }}
		</li>
		<li>
			{{ data.add_form.media_type.label() }}
			{{ data.add_form.media_type(placeholder="Public Transport", class="checkboxes")}}
			{{ print_errors(data.add_form.media_type.errors) }}
		</li>
		<li id="custom_media_type" class="hidden">
			{{ data.add_form.custom_media_type.label() }}
			{{ data.add_form.custom_media_type(placeholder="Public Transport")}}
			{{ print_errors(data.add_form.custom_media_type.errors) }}
		</li>
		<li>
			{{ data.add_form.market_goal.label() }}
			{{ data.add_form.market_goal() }}
			{{ print_errors(data.add_form.market_goal.errors) }}
		</li>
		<li>
			{{ data.add_form.customer_type.label() }}
			{{ data.add_form.customer_type(class="radio") }}
			{{ print_errors(data.add_form.customer_type.errors) }}
		</li>
		<li>
			{{ data.add_form.campaign_length.label() }}
			{{ data.add_form.campaign_length() }}
			{{ print_errors(data.add_form.campaign_length.errors) }}
		</li>
		<li>
			{{ data.add_form.provider_industry.label() }}
			{{ data.add_form.provider_industry(placeholder="Comma separated", class="autocomplete-industry") }}
			{{ print_errors(data.add_form.provider_industry.errors) }}
		</li>
		<li>
			{{ data.add_form.viewership_industry.label() }}
			{{ data.add_form.viewership_industry(placeholder="Comma separated", class="autocomplete-industry") }}
			{{ print_errors(data.add_form.viewership_industry.errors) }}
		</li>
		<li>
			{{ data.add_form.demography.label() }}
			{{ data.add_form.demography(class="checkboxes") }}
			{{ print_errors(data.add_form.demography.errors) }}
		</li>
		<li>
			{{ data.add_form.geography.label() }}
			{{ data.add_form.geography(class="checkboxes") }}
			{{ print_errors(data.add_form.geography.errors) }}
			<div class="hidden">
				{{ data.add_form.select_markets.label() }}
				{{ data.add_form.select_markets(placeholder="California") }}
				{{ print_errors(data.add_form.select_markets.errors) }}
			</div>
		</li>
		<li>
			{{ data.add_form.views.label() }}
			{{ data.add_form.views() }}
			{{ print_errors(data.add_form.views.errors) }}
		</li>
		<li>
			{{ data.add_form.unique_views.label() }}
			{{ data.add_form.unique_views() }}
			{{ print_errors(data.add_form.unique_views.errors) }}
		</li>
		<li>
			<input type="submit" value="Save" />
		</li>
	</ul>
</form>
{% endblock %}