{% extends "layout.html" %}
{% block meta_desc %}{{ data.page_title }}{% endblock %}
{% block title %}{{ data.page_title }}{% endblock %}
{% block body_class %}front page page-{{ page_name }}{% endblock %}
{% block content %}
<section class="page search" id="flaav_mp">
	<div class="thumb" style="background-image: url('{{ url_for('static', filename='images/stock/mplan.jpg') }}');"> </div>
	<div class="text">
		<h3>Flaav Media Planning</h3>
		<p>
		Media planning helps customers determine the best combination of media to achieve their 
		marketing campaign objectives.
		</p>

		<p>
		Flaav's Media Planning service is simple to use. By providing us the right information we are 
		able to pair you with the best possible advertising outlets. The resulting media plan is clear and 
		explanatory with all the important information at the tips of your fingers.  [contact name, email, 
		and phone number, media type, campaign cost, expected CPA, promotional pricing, and more].
		</p>

		<p>
		Flaav MP grants you access to our entire database of marketing and advertising information. We 
		spend A LOT of time curating the database to make sure our information is recent, relevant, and 
		reliable (the 3 R's we focus on). We also have partnerships with many of the advertising outlets 
		in our database.  We actively work with them to give you special prices on advertising that you 
		would not be able to negotiate anywhere else.
		</p>

		<p>
		Ultimately Flaav Media Planner gives you the best possible results by utilizing complex search 
		algorithms. Our computer processes pair your information within our database and return the 
		best matches. Computers do it better. Our system gives consistent, effective, and time-saving 
		results. While Media Planning may take weeks to complete, you can now have one ready in 
		minutes.
		</p>

		<p>
		Try Flaav Media Planning and start advertising your business in a smarter, cost effective way.
		</p>
	</div>
</section>

<section class="page dmat" id="dmat">
	<div class="text left">
		<h3>Don't Miss a Tweet</h3>
		<p>
		Don't miss a tweet is a one of a kind automated tweeting platform. Using our intelligent
		computer driven platform, DMAT writes creative, unique, and relevant twitter posts for you. All 
		you have to do is give Flaav access to tweet for you and we will do the rest. 
		</p>

		<p>
		From our dashboard you can see exactly what was tweeted and when. You can see a variety of 
		metrics used to evaluate your twitter activity, and most importantly you are able to constantly 
		create new content without ever having to use twitter. If you would like more control over your 
		twitter account we give you the ability to write our own tweets, which you can schedule to post. 
		Our goal with DMAT is to save you time and update your social media – hassle free. 
		</p>

		<p>
		DMAT also integrates with our other tools. With DMAT you can post advertisements you create 
		with the digital Ad Creator and promotions created with our Promotion Genius. Ultimately 
		DMAT was created to save you time, money, and maintain your social media. Using DMAT 
		you can expect a stronger twitter presence and increased visibility with the customers looking for 
		you.
		</p>
	</div>
	<div class="thumb right" style="background-image: url('{{ url_for('static', filename='images/stock/dmat.jpg') }}');"> </div>
</section>

<section class="page promo-genius" id="promo_genius">
	<div class="thumb" style="background-image: url('{{ url_for('static', filename='images/stock/promo.jpg') }}');"> </div>
	<div class="text">
		<h3>Promo Genius</h3>
		<p>
		Promo Genius is a tool designed to make your promotions, well, smarter.  Promotional marketing and advertising is highly effective and is the reasons websites like Groupon and Livingsocial have become so successful.  Even a few years back, coupons paid its weight in gold.  A reasonable discount is highly effective in driving traffic to your location. 
		</p>

		<p>
		Unfortunately it costs money to offer a discount.  Groupon will take 50% of your revenue, and coupon providers charge to distribute your offers.  With the rise of social media you now can connect with your customers easier than ever.  So why not go straight to your customer source and offer a promotion with no intermediary?  Now you can.
		</p>

		<p>
		Promo Genius allows you to run any type of promotional offer.  Whether it is, 10% off, buy one get one, free item with purchase, you can run them all.  You can even control when the offer starts and expires, how many people can redeem the offer, and how many offers people can get.  Tracking your promotion is easier than ever.  Flaav's system tracks all the offers activated and redeemed using unique codes on the activation webpage.  You can scan the QR Code with your phone or just write down the code and enter it in your personalized dashboard – this will redeem the code and remove it from you active offers list.  It's that easy.  
		</p>

		<p>
		Promo Genius gives you the ability to track promotions in real time, prevent promotion duplication, broadcast your promotions using social media, analyze different promotions and gain insights from big data.  Promo Genius makes your promotions more effective and less expensive.
		</p>
	</div>
</section>

<section class="page calendar" id="flaav_calendar">
	<div class="text left">
		<h3>Flaav Media Calendar</h3>
		<p>
		Flaav's Media Calendar ties all the other products together. The Media Calendar allows you to
		easily track everything you do with your marketing campaign. Most importantly the media 
		calendar tracks everything you do on Flaav. 
		</p>

		<p>
		Forgot when you ran a promotion?  Just check the calendar. Want to know what you posted to 
		twitter last week?  Check the calendar. What about the last time you created a media plan? You 
		can even go back into your history and find that media plan you created from months back. The 
		media calendar shows exactly what you have posted to twitter, what media plans have been 
		created, when different ads were created and run, and when you ran previous promotions. 
		</p>

		<p>
		Using the Media Calendar you can expect more organization in your marketing campaigns. You 
		can also use it to track your history and reference tasks you've completed previously.
		</p>
	</div>
	<div class="thumb right" style="background-image: url('{{ url_for('static', filename='images/stock/cal.jpg') }}');"> </div>
</section>

<section class="page dacreator" id="dacreator">
	<div class="thumb" style="background-image: url('{{ url_for('static', filename='images/stock/dac.jpg') }}');"> </div>
	<div class="text">
		<h3>Digital Ad Creator</h3>
		<p>
		So you've decided to start a digital advertising campaign but are quickly realizing you need to 
		actually create the advertisements to run. You have a couple options.
		<ol>
			<li>
				You can ask you artistic nephew to use Photoshop and make you an advertisement – 
				but that means asking a favor and making a phone call.
			</li>
			<li>
				You can go online and try and find a graphic designer to build you 
				an ad or two. You already know this is expensive and where are you going to 
				find that person!?
			</li>
		</ol>
		</p>

		<p>
		Digital Ad Creator solves this issue. DAC gives you the ability to gain control of the creative 
		behind your digital advertising campaign. Within only a couple steps Flaav's ad builder allows 
		you to choose any common banner size and either choose from our large collection of stock 
		images or upload your own. Then using our overlay tool you can add your own message you are 
		trying to advertise. Creating effective and beautiful ads has never been so easy. 
		</p>

		<p>
		Flaav DAC makes creating ads as easy as can be. Not only is making the ad a breeze, you are 
		able to download the ad to give to the company giving you the digital ad space. If you find out 
		the message in the ad isn't working too well. It takes no time edit it. Now you don't have to wait 
		for anyone else. We even save your old ads for you. DAC saves your time and money by 
		simplifying the creative process.
		</p>
	</div>
</section>

<section class="page integrated" id="integrated">
	<div class="text left">
		<h3>Complete Integration</h3>
		<p>
		We created all of Flaav's services to work together.  Every service integrates into the other ones boosting their effectiveness and creating extremely useful synergies.
		</p>

		<p>
		Promotions made with Promo Genius can be broadcasting on social media through Don't Miss a Tweet.  You can even use your new Media Plan to help advertise your new promotion.  The Media Calendar will help you remember on what dates you ran that promotion, so you can continue to track what you ran, when.  In fact, you can use the ads you created on the Digital Ad Creator in your promotion.  This helps brand your promotion and ad a graphical appearance to it.
		</p>

		<p>
		Don't miss a tweet can do more than just post your promotions.  It can also tweet the new advertisements you made.  This gives you a free outlet to advertise your business.  Also all of your advertisements and tweets will be visible by date and time on the media calendar.
		</p>

		<p>
		These are only a few highlights of how the services combine to make a truly exceptional experience for the customer.  Using these services together will save money, time and effort, all while boosting the results of your marketing campaign.
		</p>
	</div>
	<div class="thumb right" style="background-image: url('{{ url_for('static', filename='images/stock/integ.jpg') }}');"> </div>
</section>
{% endblock %}