{% extends "dashboard.html" %}
{% block title %}Services{% endblock %}
{% block body_classes %}dashboard-plugins{% endblock %}
{% block content %}
<h2 class="title">
	Services
	<span class="sub-title">Listing all available services</span>
</h2>
<ul id="plugins" class="noul">
{%- for plugin in data.plugins %}
	<li class="box item {% if plugin.is_active %}activated{% endif%}">
		<span class="loading small"> </span>
		<h4><span class="name">{{ plugin.name }}</span> v<span class="version">{{ plugin.version }}</span></h4>
		<p class="description">{{ plugin.description }}</p>
			<form action="{{ url_for('pluginloader.index', plugin_id=plugin.id, action='deactivate') }}" method="post" class="deactivate-form">
				<div>
					<div class="hidden">
						<a href="{{ url_for('pluginloader.index', plugin_id=plugin.id, action='view') }}" class="button view">View</a>
						<a href="{{ url_for('pluginloader.index', plugin_id=plugin.id, action='settings') }}" class="button settings">Settings</a>
					</div>
					<input type="hidden" name="deactivate" value="True" />
					<input type="hidden" name="name" value="{{ plugin.name }}" />
					<input type="submit" value="Deactivate" class="button" />
				</div>
			</form>
			<form action="{{ url_for('pluginloader.index', plugin_id=plugin.id, action='activate') }}" method="post" class="activate-form">
				<div>
					<input type="hidden" name="activate" value="True" />
					<input type="hidden" name="name" value="{{ plugin.name }}" />
					<input type="submit" value="Activate" class="button" />
				</div>
			</form>
	</li>
{%- endfor %}
<div class="clear"> </div>
</ul>
{% endblock %}