{% extends "layout.html" %}
{% block title %}Error - {{ data.error_type }}{% endblock %}
{% block meta_desc %}Uh oh, something went wrong or maybe you don't have access here :p. {% endblock %}
{% block body_class %}front error-page{% endblock %}
{% block content %}
<article class="box small">
  <h3 class="error">Error {{ data.error_type }}</h3>
  <p class="error">{{ data.error|safe }}</p>
  <p>Click <a href="{{ url_for('pages.index', name='home') }}"><u>here</u></a> if you'd like to return to the homepage.</p>
</article>
{% endblock %}